#BarChart { 
    display: flex; 
    flex-direction: row; /* Arrange the Bars Horizontally using FlexBox  */
    align-items: flex-end; /* Have the bars start at the bottom and go up */
    justify-content: center; /* Center the bars in the middle of the screen */
    margin: 50px;
  }
  
.bar {
    background-color: #3aa70f; /* Have each bar be a nice green */
    width: 10px; /* The animation will start with each bar being 10px wide, and then expand outwards */
}

#LineChart {
    overflow: visible /* Just in case the axis render outside of our div, let's make sure it still displays */
}